@font-face {
    font-family: Poppins-400;
    src: url(../../styles//font/Poppins/Poppins-Regular.ttf);
}


@font-face {
    font-family: roboto-400;
    src: url(../../styles/font/Gilroy/Gilroy-Heavy.ttf);
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(../../styles/font/Gilroy-Font/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy-Medium;
    src: url(../../styles/font/Gilroy-Font/Gilroy-Medium.ttf);
}

.inputoplist {
    display: flex;
    padding: 25px 0px 0px 40px;
}

.pohelistmenu {
    display: flex;
    padding: 20px 0px 0px 40px;

}

.futtorlist {
    display: flex;
    padding: 20px 0px 0px 40px;
}

.cantenar_list {
    display: flex !important;
    width: 100% !important;

    .formedit {
        background: #332E59;
        box-shadow: 0px 4px 21px 12px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 30px 60px 60px 60px;
        width: 100%;
        margin: 40px 200px 60px 200px;
    }

    .hedingdiv {
        display: flex;
    }

    .personmenu p {
        font-size: 30px;
        font-family: Poppins-400;

        color: #000000;
    }

    .uplodimgp p {
        font-family: roboto-400;
        color: #858789;
        font-size: 14px;

    }

    .donebtn {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 50%;

        button {
            color: #009947;
            text-transform: capitalize !important;
            font-size: 18px;
            font-family: roboto-400;
            font-weight: bold;
        }
    }

    .myimmmglist {
        background: #634BBF !important;
    }

    .avtaruplo {
        // border: 2px solid #009947;
        width: 120px;
        height: 120px;
    }

    .listmenuuppohot {
        display: flex;
        justify-content: center;
        // padding-top: 20px;
    }

    .iconbtnop {
        position: relative;
        right: 33px;
        top: 26px;
    }

    .leballiss {
        padding: 3px 0px;
        font-size: 16px;
        color: #ffffff;
        font-family: Gilroy-Regular !important;
    }

    .inputnamelist {
        width: 90%;

        div {
            height: 46px;
            background: #282042;
            border-radius: 10px;
            border-radius: 5px;
            color: #ffffff;
            font-size: 14px;
            font-family: Gilroy-Medium;
        }

    }

    .emailinput {
        width: 90%;

        div {
            height: 46px;
            background: #282042;
            border-radius: 10px;
            border-radius: 5px;
            color: #ffffff;
            font-size: 14px;
            font-family: Gilroy-Medium;
        }
    }

    .poneinput {
        width: 100%;

        input {
            width: 310px;
            height: 46px;
            background: rgba(229, 229, 229, 0.35);
        }
    }

    .dataeinput {

        width: 85%;

        div {
            height: 46px;
            background: rgba(229, 229, 229, 0.35);
        }

        svg {
            color: #009947 !important;
        }

    }

    .slaydarinput {
        width: 85%;

        div {
            height: 46px;
            display: flex;
            align-items: center;
        }
    }

    .otperr {
        color: red;
    }
}

.Reply_text_area {
    // border: 1px solid #FFFFFF;
    border-radius: 5px;
    height: 66px;
    width: 95%;
    background: #282042;
    margin-top: 6px;
    font-family: 'Gilroy-Light';
    padding: 15px;
    color: white;
}

.listupdetbtn {
    // background: linear-gradient(180deg, #046DA8 0%, #07A4E7 100%);
    border: 1px solid #1976d2 !important;
    border-radius: 10px !important;
    width: 150px;
    color: #FFFFFF !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
    font-family: 'Gilroy-Light' !important;
    margin-right: 20px !important;
}
.listupdetbtn2 {
    // background: linear-gradient(180deg, #046DA8 0%, #07A4E7 100%);
    border: 1px solid #1976d2 !important;
    border-radius: 10px !important;
    width: 150px;
    color: #FFFFFF !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
    font-family: 'Gilroy-Light' !important;
}
.listupdetbtn2:hover{
    background: linear-gradient(180deg, #046DA8 0%, #07A4E7 100%);
    border: 1px solid #1976d2 !important;
}
.listupdetbtn:hover{
    background: linear-gradient(180deg, #046DA8 0%, #07A4E7 100%);
    border: 1px solid #1976d2 !important;
}
.listboxbtn{
    padding: 30px 0px 0px 40px;
}
@media only screen and (max-width: 900px) {
    .poneinput input {
        width: 335px !important;
    }

    .inputnamelist {
        width: 90% !important;
    }

    .emailinput {
        width: 90% !important;
    }

    .dataeinput {
        width: 90% !important;
    }

    .slaydarinput {
        width: 90% !important;
    }

    .inputoplist {

        padding: 25px 0px 0px 0px;

        input {
            width: 100%;
        }
    }

    .pohelistmenu {

        padding: 10px 0px 0px 0px;

    }

    .futtorlist {
        padding: 20px 0px 0px 0px;
    }

    .formedit {
        margin: 60px 60px !important;
        padding: 20px 20px 20px 49px !important;
    }

    .poneinput {
        width: 100px !important;
    }
    .listboxbtn{
        padding: 30px 0px 0px 0px;

    }
}

@media only screen and (max-width: 500px) {
    .listboxbtn {
        display: flex;
        padding: 30px 0px 0px 0px;
    }

    .inputnamelist {
        width: 100% !important;
    }

    .emailinput {
        width: 100% !important;
    }

    .dataeinput {
        width: 100% !important;
    }

    .slaydarinput {
        width: 100% !important;
    }

    .inputoplist {
        display: block;
        padding: 25px 0px 0px 0px;

        input {
            width: 100%;
        }
    }

    .pohelistmenu {
        display: block;
        padding: 20px 0px 0px 0px;

    }

    .futtorlist {
        display: block;
        padding: 20px 0px 0px 0px;
    }

    .formedit {
        margin: 20px!important;
        padding: 20px !important;
    }
.Reply_text_area{
    width: 100%;
}
    .poneinput {
        width: 100px !important;
    }
}