@font-face {
  font-family: Gilroy-Bold;
  src: url(../../styles/font/Gilroy-Font//Gilroy-Bold.ttf);
}

@font-face {
  font-family: Inter-700;
  src: url(../../styles/font/Inter/Inter-Bold.ttf);
}

@font-face {
  font-family: Poppims-400;
  src: url(../../styles/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Quicksand-400;
  src: url(../../styles/font/Quicksand/static/Quicksand-Regular.ttf);
}

@font-face {
  font-family: Gilroy-Light;
  src: url(../../styles/font/Gilroy-Font//Gilroy-Light.ttf);
}

.Top_box {
  display: flex;
  justify-content: end;
}

.Table_head_cell {
  background-color: transparent !important;
  /* border-radius: 12px 12px 0px 0px; */
  border-bottom: 0px !important;
  color: white !important;
  font-family: "Gilroy-Bold" !important;
  font-size: 16px !important;
}

.Table_head_row {
  background: #634bbf;
}

/* TRENDING CELL */
.Tredding_cell {
  width: 15%;
  max-width: 130px;
  background-color: transparent;
  text-align: center !important;
}

.Tredding_cell_body {
  font-size: 18px !important;
  color: #ffce31 !important;
  font-family: "Inter-700" !important;
}

/* MOVIE_DETAILS_CELL */
.Movie_details_cell {
  width: 40%;
}

.Movie_details_body p {
  font-family: "Gilroy-Bold" !important;
  font-size: 18px !important;
  color: #ffffff !important;
}

.Movie_details_body {
  justify-content: flex-start;
  display: flex !important;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.Movie_details_body img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.Movie_details_body div {
  width: 62px;
  height: 72px;
  border-radius: 5px;
}
/* RATING_CELL  */
.Tixzr_rating_cell {
  width: 30%;
}

.Menu_cell {
  width: 15%;
}

.Table_row {
  background-color: #291e3d;
}

.Table_Body_cell {
  background-color: transparent !important;
  border-bottom: 0px !important;
}

.Tixzr_rating_cell_body p {
  font-size: 32px !important;
  font-family: Gilroy-Bold !important;
  font-size: 72px;
  background: linear-gradient(180deg, #07a4e7 0%, #046da8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuicon {
  color: white !important;
}

.menuicon svg {
  font-size: 34px;
}

.INPUTDATAPUSH {
  border: 0.5px solid #634bbf !important;
  border-radius: 4px;
  width: 70px !important;
  margin: 0px 6px 0px 0px !important;
}

.INPUTDATAPUSH div {
  height: 37px !important;
}

.INPUTDATAPUSH input {
  color: white !important;
  font-family: Gilroy-Bold !important;
  font-size: 15px !important;
}

.typomenu {
  font-size: 18px;
  color: #ffffff;
  font-family: Gilroy-Bold !important;
  padding: 0px 35px 0px 0px;
}

.menudatacss ul {
  padding: 2px 0px !important;
}

.listpopuy {
  background: #282043;
  /* border: 1px solid #FFFFFF; */
  /* box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.25); */
  /* border-radius: 10px; */
}

.Search_Bar_input {
  background: #332e59;
  border: 1px solid #634bbf;
  border-radius: 10px;
  height: 62px;
  width: 100%;

  justify-content: center;
}

.Search_Bar_input fieldset {
  border-color: transparent !important;
}

.Search_Bar_input label {
  border-color: transparent !important;
}

.Search_Bar_input input {
  font-family: "Poppims-400";
  color: #bdbdbd;
  font-size: 20px;
}

.listpopuy22 {
  padding: 50px !important;
  background: #282043;
  /* width: 1000PX; */
}

.listbtoommovi p {
  /* font-family: Quicksand-400 !important; */
  /* font-size: 18px !important; */
  text-transform: capitalize;
}

.listbtoommovi {
  width: 100%;
  justify-content: left !important;
  display: flex;
  border-bottom: 1px solid #7a62d5 !important;
}

.selectedMovie {
  border: 1px solid #7a62d5 !important;
}

.listbtoommovi22 p {
  /* font-family: Quicksand-400 !important; */
  /* font-size: 18px !important; */
  text-transform: capitalize;
}

.listbtoommovi22 {
  width: 100%;
  justify-content: left !important;
  display: flex;
  border-bottom: 1px solid #7a62d5 !important;
  background-color: #282043 !important;
}

.boxandlistdata {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avtarmovigo {
  width: 60px !important;
  height: 60px !important;
}

.loreamdatago {
  font-size: 18px !important;
  font-family: Quicksand-400 !important;
}

.loreamdatago22 {
  font-size: 14px !important;
  font-family: Gilroy-Light !important;
}

.listdevanfpopup {
  text-align: left;
  padding: 0px 0px 0px 12px;
}

.listboxpoputdata {
  margin-top: 15px;
  padding: 10px 20px;
  background: #634bbf;
  border-radius: 10px;
  height: 250px;
  overflow: auto;
}

.listdatepikar {
  height: 37px;
  background-color: #282043;
  border: 1px solid #634bbf;
  color: #ffffff;
  font-family: Gilroy-Light !important;
  font-size: 14px;
  border-radius: 5px;
  margin-left: 20px;
}

.listdatepikar svg {
  color: #ffffff;
}

.lisysetandnot {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.lisysetandnot p {
  font-size: 20px !important;
  font-family: Quicksand-400 !important;
  color: #ffffff !important;
  padding-right: 30px;
}

.updeatbtoon {
  width: 100%;
  margin-top: 35px !important;
  background: linear-gradient(180deg, #046da8 0%, #07a4e7 100%);
  border-radius: 10px !important;
  font-size: 20px !important;
  font-family: Gilroy-Bold !important;
  text-transform: capitalize !important;
}
/* .Menu__style ul {
  background-color: #291e3d !important;
} */
.Menu__style li {
  color: white !important;
}
@media only screen and (max-width: 500px) {
  .listpopuy22 {
    padding: 20px !important;
  }
}
