@font-face {
    font-family: Gilroy-Bold;
    src: url(../../styles/font/Gilroy-Font/Gilroy-Bold.ttf);
}

@font-face {
    font-family: Quicksand-400;
    src: url(../../styles/font/Quicksand/static/Quicksand-Regular.ttf);
}

.LISTIGANDCOM {
    width: 174px;
    height: 172px;
}

.listmenuuppohot1 {
    // display: flex;
    display: flex;
    justify-content: center;
    // margin: 0px 0px 0px 10px;
    padding: 10px 0px 0px 0px;
    // padding-top: 20px;
}

.listmenuuppohot {
    display: flex;
    justify-content: center;
}

.avtaruplo1 {
    // border: 2px solid #009947;
    border-radius: 5px;
    width: 20%;
    height: 35vh;
    background: #332E59;
}

.iconbtnop {
    position: relative !important;
    top: 21px;
    right: 51px;
    // left: 122px;
    // bottom: 58px;
}

.deleteBtn {
    align-items: baseline !important;

}

.deleteBtn:hover {
    background: transparent !important;
}

.avtaradataedit {
    background: linear-gradient(180deg, #046DA8 0%, #07A4E7 100%), #000000;
    width: 33PX !important;
    height: 33px !important;
}

.inputnamelist {
    width: 96%;
    margin-top: 20px !important;

    div {
        height: 46px;
        background: #332E59;
        border-radius: 10px;
        border-radius: 5px;
        color: #ffffff;
        font-size: 14px;
        font-family: Gilroy-Medium !important;
    }

}

.Reply_text_area {
    border-radius: 5px;
    height: 100px !important;
    width: 96%;
    background: #332E59;
    margin-top: 20px;
    font-family: Gilroy-Regular !important;
    padding: 15px;
    color: white;
}

.listboxbtn {
    padding: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.listupdetbtn {
    background: linear-gradient(180deg, #046DA8 0%, #07A4E7 100%);
    border: 1px solid #1976d2 !important;
    border-radius: 10px !important;
    width: 170px;
    color: #FFFFFF !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
    font-family: 'Gilroy-Light' !important;
    margin-right: 20px !important;
}

.listupdetbtn2 {
    // background: linear-gradient(180deg, #046DA8 0%, #07A4E7 100%);
    border: 1px solid #1976d2 !important;
    border-radius: 10px !important;
    width: 170px;
    color: #FFFFFF !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
    font-family: 'Gilroy-Light' !important;
}

.listupdetbtn3 {
    background: linear-gradient(180deg, rgba(4, 109, 168, 0.45) 0%, rgba(7, 164, 231, 0.45) 100%);
    border: 1px solid #1976d2 !important;
    border-radius: 10px !important;
    width: 170px;
    color: #FFFFFF !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
    font-family: 'Gilroy-Light' !important;
    margin-right: 20px !important;

}

.listupdetbtn2:hover {
    background: linear-gradient(180deg, #046DA8 0%, #07A4E7 100%);
    border: 1px solid #1976d2 !important;
}

.listupdetbtn:hover {
    background: linear-gradient(180deg, #046DA8 0%, #07A4E7 100%);
    border: 1px solid #1976d2 !important;
}

.listpopuy22 {
    padding: 50px 18px 40px 50px !important;
    background: #282043;
    /* width: 1000PX; */
}

.avtaruplo {
    // border: 2px solid #009947;
    border-radius: 5px;
    width: 180px;
    height: 250px;
}

.iconbtnop1 {
    position: relative !important;

    right: 54px;
    top: 190px;

}

.iconbtnop1:hover {
    background-color: transparent !important;
}

.myimmmglist {
    background: #634BBF !important;
    width: 42px;
    height: 42px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.listloevetypo {
    display: flex;
}

.listloevetypo p {
    font-size: 32px;
    color: #FFFFFF;
    font-family: Gilroy-Bold !important;
    max-width: 337px;
}

.listloevetypo button {
    align-items: end;

}

.listloevetypo button:hover {
    background-color: transparent !important;

}

.listloevetypo button svg {
    color: #FFFFFF !important;
    font-size: 32px;
}

.listbtnuudesr {
    font-size: 24px !important;
}

.texttayoanfdafa p {
    font-size: 18px !important;
    color: #FFFFFF;
    font-family: Quicksand-400 !important;
}

@media only screen and (max-width: 900px) {

    .lispotfusl {
        height: 70vh !important;
    }

    .listtexttypoanf {
        padding: 0px 0px 0px 30px;
    }

    .avtaruplo {
        width: 310px;
        height: 309px;
    }

    .iconbtnop {
        position: relative;
        left: 240px;
        bottom: 69px;
    }
}

@media only screen and (max-width: 500px) {
    .avtaruplo {
        width: 310px;
        height: 309px;
    }

    .iconbtnop {
        position: relative;
        left: 240px;
        bottom: 69px;
    }

    .listmenuuppohot {
        padding: 0PX !important;
    }

    .listloevetypo p {
        font-size: 31px !important;
        max-width: 100% !important;
    }

    .listtexttypoanf {
        padding: 0px 0px 0px 0px;
    }

    .listloevetypo {
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .lispotfusl {
        height: 130vh !important;
    }
}