@font-face {
    font-family: Popins-300;
    src: url(../../styles/font/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Gilroy-400;
    src: url(../../styles/font/Gilroy-Font/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Popins-400;
    src: url(../../styles/font/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Gilroy-semibold;
    src: url(../../styles/font/Gilroy-Font/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: Popins-600;
    src: url(../../styles/font/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Gilroy-600;
    src: url(../../styles/font/Gilroy-Font/Gilroy-Bold.ttf);
}

.guidelines {
    padding: 24px 24px;
}

.guideline_container {
    box-sizing: border-box;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
}

.guideline_content {
    color: #979797;
    // padding: 0px 23px 0px 43px;
    padding: 22px 23px 77px 41px;
    font-size: 16px;
    line-height: 30px;
    // font-weight: 100;
    font-family: Popins-300;
}

.guideline_content_2 {
    color: #979797;
    padding: 15px;
    font-size: 16px;
    line-height: 10px;
    height: 1080px !important;
    background-image: linear-gradient(#00000033 50%, rgba(255, 255, 255, 0) 0%);
    background-position: left;
    background-size: 1px 10px;
    background-repeat: repeat-y;
    overflow: auto;

    .date {
        color: #18243c;
        font-size: 30px;
        line-height: 35px;
        font-family: Gilroy-semibold;
    }

    .update_logs {
        color: #021f3d;
        font-size: 14px;
        line-height: 21px;
        margin: 10px 0;
        opacity: 0.2;
        font-family: Popins-400
    }

    .date_value {
        color: #979797;
        font-weight: 500;
        margin: 5px 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        font-family: Popins-600;
    }

    .sub_text {
        color: #979797;
        font-size: 14px;
        line-height: 21px;
        font-family: Popins-400
    }
}

.inputfield {
    box-sizing: border-box !important;
    border-radius: 10px !important;
    margin-top: 20px !important;
    font-family: Gilroy-400 !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    line-height: 21px !important;
    border: 1.5px solid #e3e3e3 !important;
    border-radius: 15px !important;
    padding: 10px;
    text-decoration: none !important;
}

.inputfield:before {
    border: none !important;
}

.formgroup {
    padding: 0 !important;
}

.submitBtn {
    background: #57B0AF !important;
    // border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 10px !important;
    font-style: normal;
    font-size: 14px !important;
    font-family: Popins-400 !important;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize !important;
    color: #FFFFFF !important;

}

.add_more_btn {
    font-size: 18px !important;
    line-height: 21px !important;
    text-transform: capitalize !important;
    color: #FFFFFF !important;
    background-color: #57B0AF !important;
    padding: 12px 13px !important;
    border-radius: 9px !important;
}

.mainfaq {
    background-color: white !important;
    padding: 17px 35px 50px 55px;
    border: 1px solid #E4E4E4;
    border-radius: 19px !important;
    margin-top: 18px;
}

.adv_btn_approve {
    background-color: #50369c !important;
    width: 175px;
    height: 50px;
    border-radius: 13px !important;
    text-transform: none !important;
}

.adv_btn_push {
    background: #57B0AF;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 17px 69px !important;
    border-radius: 16px !important;
    text-transform: none !important;
    font-family: Popins-600 !important;
    text-align: center;
}

.adv_btn_reject {
    background-color: #f87878 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    text-transform: capitalize !important;
    color: #FFFFFF !important;
    padding: 12px 13px !important;
    border-radius: 9px !important;
    margin-right: 10px !important;
}

.errorMsg{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin: 3px 14px 0px !important;
    color: rgb(211, 47, 47);
}

.advaccdetails {
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 45px;
}

.accordian,
.accordiansummary {
    border: none !important;
    box-shadow: none !important;
    padding: 3px 0;
}

.accordiansummary p {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    // text-transform: capitalize;
    color: #000000;
    font-family: Gilroy-600;
    display: flex;
    gap: 15px;
    align-items: center;
}

.accordian:before {
    border: none !important;
    box-shadow: none !important;
    height: 0 !important;
}

.Dashboardcontent {
    background-color: white !important;
    border-radius: 20px;
    height: 100%;
}

.advaccdetailstxt {
    font-family: Gilroy-400 !important;
    font-size: 14px !important;
    color: #898A8D;
    // padding-top: 35px;
}

.btndiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btndiv2 {}

.dislogtitel {
    font-family: Gilroy-600 !important;
    font-size: 36px !important;
    color: #000000;
}

.inputtxt input {
    font-family: Gilroy-400 !important;
    font-size: 16px !important;
    color: #979797 !important;
    padding: 18px !important;
}

.inputtxt fieldset {
    border-radius: 15px !important;
}

.textinpt {
    font-family: Gilroy-400 !important;
    color: #979797 !important;
    padding: 18px !important;
    height: 200px !important;
    border: 1px solid #D8D8D8;
    border-radius: 15px;
}
.paneldiv {
    display: flex;
    // align-items: center;
}
.ntnclose{
    background-color: white !important;
}
.ntnclose:hover{
    background-color: white !important;
}

.checkdiv {
    // height: 100%;
    // align-items: flex-start;
}

.faqlist {
    // display: flex;
    // align-items: center;
    width: 100%;
}

.inputcheck {
    height: 27px;
    width: 27px;
    // border: 1px solid #D2D2D2 !important;
    border-radius: 7px !important;
}

.lable{
    font-family: Gilroy-400 !important;
    font-size: 14px !important;
    color:#15152E !important ;
    margin-top: 20px;

}
.ntnclose{
    background-color: white !important;
}
.ntnclose:hover{
    background-color: white !important;
}
@media only screen and (max-width: 450px) {
.guideline_content_2{
background-image: none !important;
}
}