.support_container {
  color: #96A9BA;
  font-family: 'Poppins', sans-serif;
  height: 80vh;

  > .this_left {
    min-width: 30%;
    max-width: 30%;

    ::-webkit-scrollbar {
      width: 7px;
    }
    
    ::-webkit-scrollbar-track {
      background: #F3F3F3;
      border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
      background: #50369C;
      border-radius: 10px;
    }

  }

  > .this_right {
    margin-left: 1rem;
  }

}
.support_container {
  color: #96A9BA;
  font-family: 'Poppins', sans-serif;
  height: 80vh;
}
.this_left {
  min-width: 30%;
  max-width: 30%;
}

.this_left::-webkit-scrollbar {
  width: 7px;
}

.this_left::-webkit-scrollbar-track {
  background: #F3F3F3;
  border-radius: 10px;
}

.this_left::-webkit-scrollbar-thumb {
  background: #50369C;
  border-radius: 10px;
}


.this_right {
  margin-left: 1rem;
}
.this-left{
  display: flex;
}
.this_right{
  width: 100% !important;
}
.thisleft{
  display: flex !important;
}
.support-list-item{
  display: flex;
}
// .logoc
//   width: 1200px;
//   display: flex;
//   border: 1px solid;
// }