.support-list {
  height: calc(100% - 100px);
  overflow-y: scroll;
  padding-right: 1rem;

  .support-list-item {
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 18px;
    padding: 13px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: rgba(101, 136, 222, 0.1);
    }

    &.active {
      background: #50369C;

      .list-item-left {
        img {
          border-color: #F3BA4A;
        }
      }

      .username {
        color: #FFFFFF !important;
      }

      .latest-message, .date-time {
        color: #F2F2F2 !important;
      }
    }

    .list-item-left {
      position: relative;

      .user-status {
        border: 1px solid #FFFFFF;
        border-radius: 100%;
        display: inline-block;
        width: 12px;
        height: 12px;

        position: absolute;
        top: -1px;
        right: 0;
        z-index: 2;

        &.online {
          background: #46D362;
        }

        &.offline {
          background: #FD2828;
        }

        &.idle {
          background: #F3BA4A;
        }
      }

      img {
        border: 2px solid #50369C;
        border-radius: 100%;
      }

    }

    .list-item-middle {
      margin: 0 7px;
      overflow: hidden;

      .username {
        color: #52585D;
        font-size: 14px;
        font-weight: 600 !important;
        margin-bottom: 3px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .latest-message {
        font-weight: 300;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

    .list-item-right {

      .date-time {
        font-size: 11px;
        font-weight: 300;
        text-align: right;
      }

      .unread-count {
        background: #062B60;
        border-radius: 12px;
        color: #FFFFFF;
        display: inline-block;
        font-weight: 600;
        float: right;
        margin-top: 5px !important;
        padding: 0 8px;
      }

    }

  }

}

.support-list-bottom {
  height: 100px;
}