.support-messages-main {
  height: calc(100% - 100px);

  .support-messages-top {
    border-bottom: 1px solid #C4C4C4;

    .ticket-details {

      &.pending {
        color: #FFA620
      }

      &.completed {
        color: #46D362;
      }

      &.closed {
        color: #C4C4C4;
      }

      .ticket-status {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
      }

      .ticket-options{
        background: #FFFFFF;
        border-radius: 15px;
        background: #FFFFFF;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #318D8C !important;
      }
      .ticket-number {
        font-size: 16px;
        letter-spacing: 0.5px;
      }

    }

    .ticket-options {

      button {
        
        // border: 1px solid #E3E3E3;
        // border-radius: 14px;
        // color: #09110E80;
        // font-size: 14px;
        // font-weight: 600;
        // padding: 10px 17px;
        // text-align: left;
        // width: 200px;
        // position: relative;

        &:after {
          position: absolute;
          top: calc(50% - 0.3em);
          right: 12px;
        }
      }

      .dropdown-menu {
        width: 200px;

        .dropdown-item {
          font-size: 14px;
        }

      }

    }

  }

  ::-webkit-scrollbar {
    width: 0;
  }

  .support-messages-content {
    height: calc(100% - 64px);
    position: relative;

    .current-date {
      background: #50369C;
      border-radius: 10px;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.6;
      width: 120px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      span {
        opacity: 0.7;
      }
    }

    .support-messages {
      height: 100%;
      overflow-y: scroll;
      padding: 35px 0;

      .support-messages-item {
        position: relative;

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        .profile-image {
          width: 30px;
          height: 30px;
        }

        &.msg-user .this-message {
          background: #50369C;
          border-bottom-left-radius: 0;
          line-height: 1.6;
          margin-left: 10px;
        }

        &.msg-admin .this-message {
          background: #D08EEE;
          border-bottom-right-radius: 0;
          margin-right: 10px;
        }

        .this-message {
          border-radius: 30px;
          color: #FFFFFF;
          font-size: 13px;
          font-weight: 400;
          padding: 20px;

          .attachment {
            border-radius: 14px;
            object-fit: cover;
            width: 120px;

            &:not(:last-child) {
              margin-right: 20px;
            }
          }

        }

        .this-time {
          color: #979797;
          font-size: 10px;
          margin-left: 10px;
          position: absolute;
          bottom: -20px;
        }

        .mw-75 {
          max-width: 75%;
        }

      }

    }

  }

}

.support-messages-bottom {}