.enduser-container {
    box-sizing: border-box;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 10px;

    .downIcon {
        margin-left: 5px;
    }

    .dropdown .dropdown-toggle::after {
        display: none;
    }

    .dropdown-item {
        padding: 15px;
    }

    p {
        margin-top: auto !important;
    }
}
